[access]
	inheritFrom = crashpad
[label "Commit-Queue"]
	function = MaxWithBlock
	defaultValue = 0
[project]
	description = A scaled-back interface-compatible version of Chromium's base library
[submit]
	action = cherry pick
[notify "crashpad-dev"]
	header = cc
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
