[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group crashpad-owners
	label-Code-Review = -2..+2 group crashpad-committers
[access "refs/heads/*"]
	create = group crashpad-owners
	push = group crashpad-owners
	push = group crashpad-committers
	read = group Anonymous Users
	submit = group crashpad-owners
	submit = group crashpad-committers
[label "Code-Review"]
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	abbreviation = R
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
[label "Verified"]
[notify "crashpad-dev"]
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
	header = cc
[submit]
	action = cherry pick
