[access]
	inheritFrom = All-Projects
[access "refs/*"]
	exclusiveGroupPermissions = label-Verified
	owner = group crashpad-owners
[access "refs/heads/*"]
	create = group crashpad-owners
	push = group crashpad-committers
	read = group Anonymous Users
	submit = group crashpad-committers
	label-Code-Review = -1..+1 group crashpad-committers
[label "Code-Review"]
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	abbreviation = R
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
[label "Verified"]
[notify "crashpad-dev"]
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
	header = cc
[submit]
	action = cherry pick
